:root {
    --background-color: #000000;
    --text-color: #ffffff;
    --border-color: #222222;
    --button-border-color: #333333;
    --hover-background-color: #111111;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --text-color: #000000;
        --border-color: #dddddd;
        --button-border-color: #cccccc;
        --hover-background-color: #f0f0f0;
        --box-shadow-color: rgba(0, 0, 0, 0.1);
    }
}

.logo {
    content: url('assets/icon.png');
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

@media (prefers-color-scheme: light) {
    .logo {
        content: url('assets/icon2.png');
        width: 80px;
        height: 80px;
        border-radius: 20px;
    }
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.container {
    background: var(--background-color);
    padding: 24px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    text-align: center;
    max-width: 280px;
    width: 90%;
    box-shadow: 0 3px 10px var(--box-shadow-color);
}

.logo-container {
    margin-bottom: 20px;
}

.title {
    font-size: 1.6em;
    margin: 14px 0;
    font-weight: 600;
    color: var(--text-color);
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 24px 0;
}

.button {
    padding: 10px 18px;
    background: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--button-border-color);
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: 500;
    font-size: 0.85em;
}

.button:hover {
    background-color: var(--hover-background-color);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
}

.icon {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.15);
}
