Package: com.catchmind.afreecatv++
Name: AfreecaTV++(rootless)
Author: catchmind
Description: Remove ads on AfreecaTV. Multiview enabled.
Depends: mobilesubstrate
Maintainer: catchmind
Section: Tweaks
Architecture: iphoneos-arm64
Version: 1.3.0
Installed-Size: 152
