Package: com.catchmind.spotvnow++
Name: SPOTV NOW++
Author: Catchmind
Description: Remove preroll video ads
Depends: mobilesubstrate
Maintainer: Catchmind
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.0.0-1+debug
Installed-Size: 200
